  * {
    transition: all 0.20s;
    font-family:'Courier New', Courier, monospace;
  }
  .back{
    background-image: url("img/pexels-porapak-apichodilok-346696.jpeg");
    background-position: center;
    background-size: cover;
    border-radius: 30%;
    text-align: center;
    color: rgb(0, 0, 0);
    
  } 
  .btn{
    color: black;
  }
  body {
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(120, 46, 151);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 120%;
  }

  .titulo{
    text-align: center;
    font-size: xx-large;
  }

  .tit{
    text-align: center;
    font-size: 4em;
    text-shadow: 3px 3px 3px rgb(194, 113, 197);
    }
  
  .titulo2{
    text-align: center;
    font-size: large;
  }
  
  #encabezado {
    width: 70vw;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: rgb(67, 182, 105);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: xx-large;
  }

  #encabezado2 {
    width: 70vw;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: xx-large;
  }

  .opcion {
    text-align: center;
    width: 70vw;
    background: rgb(203, 213, 68);
    
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
  }
  
  .opcion:hover{
       background: lightyellow;
  }